/**
 * Created by XRene on 16/5/27.
 */

.public-mark-down {
    position: relative;

    .public-contenteditable-write {
        float: left;
        width: 49%;
        min-height: 200px;
        max-height: 400px;
        overflow-y: auto;
        border: 1px solid #ccc;
    }

    .public-contenteditable-show {
        float: right;
        width: 49%;
        min-height: 200px;
        max-height: 400px;
        overflow-y: auto;
        border: 1px solid #ccc;
    }
}