html, body {
    position: relative;
    height: 100%;
    width: 100%;
}
.public-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .public-side {
        position: absolute;
        box-sizing: border-box;
        left: 0;
        width: 200px;
        top: 0;
        bottom: 0;
        border: 1px solid #ccc;
    }
    .public-main {
        position: absolute;
        left: 200px;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
